
/* Index Design */
/* Reset default margin and padding for the body and header */
body, header {
    margin: 0;
    padding: 0;
}

body {font-family:Lato,  sans-serif;
    background-color: #F8E4E4;
}

header {
    display: flex;
	align-items: center;
    background-color: #F8E4E4; /* Background color for the header */
    color: white;
    padding: 10px 20px; /* Add padding for spacing above and below the navigation bar */
    text-align: center; /* Center text within the header */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}


/* Reset some default styles for the list and anchor tags */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

li {
    display: inline;
    margin: 0 20px; /* Add spacing between the navigation links */
}

/* Style the logo container */
.logo img {
    max-height: 100px; /* Set the maximum height for the logo */
}

/* Center the navigation bar horizontally */
.navbar {
	margin-right: 60px;
	display: flex;
    text-align: center;
    background-color: #F8E4E4; /* Background color for the navbar */
	padding: 10px 20px; /* Add padding for spacing around the navigation */
}   

/* Style the anchor (link) tags */
.navbar a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #5E5E5E; /* Darker shade for better visibility */
    font-size: 18px; /* Adjust size as needed */
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.navbar a:hover {
    color: #333333; /* Slightly darker on hover */
}
.navbar a:focus {
    outline: 2px solid #333333; /* Visible outline when focused */
}

/* Style the banner container */
.banner {
    display: flex;
    background-color: #F8E4E4; /* Background color for the banner */
    color: grey;
	padding: 50px 0; /* Add vertical padding to separate from the navigation */
}

/* Style the banner photo */
.banner-photo {
    flex: 1;
    text-align: center;
    padding: 5px; /* Add padding for spacing around the photo */
}

.banner-photo img {
    max-width: 100%; /* Ensure the photo doesn't exceed its container's width */
}

/* Index Design */

/* Outlet Design*/
/* Style the outlets section */
/* Additions for the Outlet Page */
.outlets-section {
    display: flex;
    justify-content: space-between;
    
}

.outlet {
    flex: 1; 
    padding: 0 15px; /* This gives some spacing between the outlets */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
}

.outlet img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; /* Add some space between the image and the content below */
}


.outlet h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.outlet p {
    font-size: 16px;
    margin-bottom: 10px;
}

.outlet a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FF6347; /* Add a desired color */
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.outlet a:hover {
    background-color: #FF4500; /* Adjust as desired */
}
/* Outlet Design*/


/*  Contact Form Design */
.contact-section {
    padding: 30px;
    text-align: center;
    background-color: #F8E4E4; /* Updated background color */
    border-radius: 10px;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-section form input, .contact-section form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.contact-section form input[type="submit"] {
    background-color: #84c0c9;
    color: white;
    cursor: pointer;
}

/* Error tooltip */
.error-tooltip {
    display: none;
    padding: 2px 4px;  /* Further reduced padding */
    width: auto;       /* Width will be based on content size */
    max-width: 180px;  /* Maximum width to prevent it from getting too long */
    position: relative;
    border-radius: 3px;
    font-size: 11px;   /* Further reduced font-size */
    margin: -5px 0 5px 0;
    white-space: nowrap; /* Keeps text on one line unless it exceeds max-width */
    background-color: #ADD8E6; /* Light Blue Background */
    color: #000080; /* Dark Blue Text */
    border: 1px solid #c78cb4; /* Dark Blue Border */
}

.error-tooltip::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: #dd5ad7 transparent transparent transparent;
}
/*  end of Contact Form Design */


/* Login Page Design */
.login-container {
    max-width: 400px;
    margin: 40px auto; /* Centering the box */
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    color: #333;
    margin-bottom: 24px;
    font-size: 24px; /* Larger font size for heading */
}

/* Input Styles */
input[type=text], input[type=email], input[type=password], input[type=submit] {
    width: 80%; /* Adjust width */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=email], input[type=password] {
    background-color: #f7f7f7; /* Light background for inputs */
}

/* Submit Button Styling */
input[type=submit] {
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0056b3; /* Darken button on hover */
}

.message {
    color: #dc3545; /* Error or message color */
    margin-bottom: 20px;
}

/* End of Login screen */

/* Responsive Layout for Laptops and Larger Screens */
@media (min-width: 768px) {
    .products-display {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the column width as needed */
    }
}


.main_cart {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.main_cart {
    position: absolute;
    top: 10px;
    right: 40px;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.small-image {
    width: 40px; /* Set the desired width */

    height: auto; /* Maintain the aspect ratio */
    }


/* Login page style */
.login-form {
    width: 300px;
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.9); /* Semi transparent white */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group i.fa {
    position: absolute;
    left: 10px;
    top: 35px;
    color: #777;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 30px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* end of Login  page style */





body {
    font-family: Arial, sans-serif;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background-color: #fff;
    width: 70%;
    max-width: 600px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
}
.popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
}
.popup-left, .popup-right {
    flex: 1;
    padding: 10px;
}
.popup-left {
    border-right: 1px solid #ccc;
}
h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 15px;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.add-to-cart-button {
    margin-top: 20px;
}
button {
padding: 12px 20px; /* Increased padding */
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
border-radius: 5px; /* Rounded corners for the button */
}

button:hover {
    background-color: #555;
    transform: translateY(-2px); /* Button will move up slightly on hover */
}
    /* Style the shops section */

.shop-section h2 {
font-size: 28px;          /* Increase font size */
font-weight: bold;        /* Make the text bold */
color: #2d2d2d;           /* A dark color for contrast */
margin-bottom: 20px;      /* Add spacing below the heading */
text-transform: uppercase; /* Convert text to uppercase */
padding-bottom: 10px;     /* Padding at the bottom for our border */
border-bottom: 2px solid #a2a0a0;  /* A border at the bottom */
}

.product-item {
    flex: 1; 
    padding: 0 15px; /* This gives some spacing between the outlets */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; /* Add some space between the image and the content below */
}


.product-item h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 10px;
}



/* Shop Page Styles */
.shop-content {
    padding: 20px;
    text-align: center;
}

.product-categories button {
    background-color: #F8E4E4;
    border: 1px solid #a2a0a0;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-categories button:hover {
    background-color: #d2c0c0;
}

.products-display {
    display: grid;
    gap: 20px; /* Adjust the gap between cards as needed */
    justify-items: center; /* Center the items horizontally in each cell */
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Include padding in the container width */
}

/* end of Shop Page Styles */
/*  product card style */
.product-card {
display: grid;
gap: 20px;
justify-items: center;
padding: 30px; /* Increased padding */
box-sizing: border-box;
background-color: #ffffff; /* White background */
border-radius: 10px; /* Rounded corners */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
transition: transform 0.3s; /* Added transition for smooth effect */
}


.product-card:hover {
transform: scale(1.03); /* Reduced the scale for subtleness */
 }


.product-card img {
width: 160px; /* Increased image size */
height: 160px;
object-fit: cover;
border-bottom: 1px solid #a2a0a0;
margin-bottom: 15px; /* Increased spacing */
border-radius: 10px; /* Rounded corners for the image */
}

.product-card h2 {
margin: 0;
padding: 0;
font-size: 22px; /* Increased font size */
}

.product-card p {
margin: 10px 0; /* Adjusted margin */
font-size: 17px; /* Increased font size */
}
/*  end of product card style */

/* Pop up styl */
.popup-overlay {
display: none; /* Initially hide the overlay */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
z-index: 1000; /* Ensure it's above other content */
overflow: hidden;
align-items: center;
justify-content: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    overflow: auto;
    position: relative;
}

.popup-close {
    cursor: pointer;
}
.popup-right {
    padding: 20px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.optional {
    font-size: 14px;
    color: gray;
    margin-left: 10px;
}
.checkbox-list label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.checkbox-list input {
    margin-right: 10px;
}
.price {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
.add-to-cart-button {
    margin-top: 20px;
}
/* End of Pop up styl */